<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.AddressMapper">
<resultMap id="addressResultMap" type="com.bookGap.vo.UserAddressVO">
  <result property="userAddressId" column="USER_ADDRESS_ID" />
  <result property="addressName" column="ADDRESS_NAME" />
  <result property="postCode" column="POST_CODE" />
  <result property="roadAddress" column="ROAD_ADDRESS" />
  <result property="detailAddress" column="DETAIL_ADDRESS" />
  <result property="isDefault" column="IS_DEFAULT" />
  <result property="userId" column="USER_ID" />
  <result property="userName" column="USER_NAME" />
  <result property="userPhone" column="USER_PHONE" />
</resultMap>
	  <!-- 배송지 목록 조회 -->
  <select id="selectUserAddresses" parameterType="string" resultMap="addressResultMap">
	  SELECT 
	    ua.USER_ADDRESS_ID AS USER_ADDRESS_ID,
	    ua.ADDRESS_NAME    AS ADDRESS_NAME,
	    ua.POST_CODE       AS POST_CODE,
	    ua.ROAD_ADDRESS    AS ROAD_ADDRESS,
	    ua.DETAIL_ADDRESS  AS DETAIL_ADDRESS,
	    ua.IS_DEFAULT      AS IS_DEFAULT,
	    ua.USER_ID         AS USER_ID,
	    ua.USER_NAME        AS USER_NAME,
	    ua.USER_PHONE       AS USER_PHONE
	  FROM USER_ADDRESS ua
	  JOIN USER u ON ua.USER_ID = u.USER_ID
	  WHERE ua.USER_ID = #{userId}
	  ORDER BY ua.IS_DEFAULT DESC, ua.USER_ADDRESS_ID ASC
</select>

  <!-- 배송지 추가 -->
  <insert id="insertUserAddress" parameterType="com.bookGap.vo.UserAddressVO">
    INSERT INTO USER_ADDRESS 
      (USER_ID, ADDRESS_NAME, POST_CODE, ROAD_ADDRESS, DETAIL_ADDRESS, IS_DEFAULT, USER_NAME, USER_PHONE)
    VALUES 
      (#{userId}, #{addressName}, #{postCode}, #{roadAddress}, #{detailAddress}, #{isDefault}, #{userName}, #{userPhone})
  </insert>

  <!-- 배송지 삭제 -->
  <delete id="deleteUserAddress" parameterType="map">
    DELETE FROM USER_ADDRESS
    WHERE USER_ADDRESS_ID = #{userAddressId} AND USER_ID = #{userId}
  </delete>
</mapper>