<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.boardMapper"> 
	<resultMap id="boardResultMap" type="com.bookGap.vo.BoardVO">
    <id property="boardNo" column="BOARD_NO"/>
    <result property="boardTitle" column="BOARD_TITLE"/>
    <result property="boardContent" column="BOARD_CONTENT"/>
    <result property="boardType" column="BOARD_TYPE"/>
		<result property="boardRdate" column="BOARD_RDATE" jdbcType="TIMESTAMP"/>
		<result property="formattedBoardRdate" column="formattedBoardRdate"/>
    <result property="userId" column="USER_ID"/>
	</resultMap>
	
	<!--  list mapper  -->
	<select id="noticeList" parameterType="com.bookGap.vo.SearchVO" resultMap="boardResultMap">
		SELECT BOARD_NO AS boardNo, 
					 BOARD_TITLE AS boardTitle, 
					 BOARD_CONTENT AS boardContent, 
					 BOARD_HIT AS boardHit, 
					 BOARD_STATE AS boardState, 
					 BOARD_RDATE AS boardRdate, 
					 BOARD_TYPE AS boardType, 
					 USER_ID AS userId 
			FROM BOARD 
		 WHERE BOARD_TYPE = 1 <!--  숫자형 비교로 변경  -->
			 AND BOARD_STATE = 1 <!--  숫자형 비교로 변경  -->
		<if test="searchType != null and searchType.equalsIgnoreCase('board_title')"> 
			AND BOARD_TITLE LIKE CONCAT('%', #{searchValue}, '%') 
		</if>
		ORDER BY BOARD_NO DESC
		limit #{start},#{perPage}
	</select>
	
	<!--  boardListSearch mapper  -->
	<select id="boardListSearch" parameterType="com.bookGap.vo.SearchVO" resultType="int">
    SELECT COUNT(*) AS total
    	FROM BOARD b
    	JOIN USER u ON b.USER_ID = u.USER_ID
     WHERE b.BOARD_STATE != '2'
    	 AND b.BOARD_TYPE = #{boardType}
    <if test="searchType != null and searchType.equals('board_title')">
       AND b.BOARD_TITLE LIKE CONCAT('%', #{searchValue}, '%')
    </if>
	</select>

	<!--  write, modify mapper  -->
	<insert id="insert" parameterType="com.bookGap.vo.BoardVO"> 
		INSERT INTO BOARD( USER_ID 
											,BOARD_TITLE 
											,BOARD_CONTENT 
											,BOARD_TYPE
											,BOOK_NO 
											)VALUES( 
											#{userId} 
										 ,#{boardTitle} 
										 ,#{boardContent} 
										 ,#{boardType}
										 ,#{bookNo} )
	</insert>
	
	<!--  view mapper  -->
	<select id="selectOne" parameterType="int" resultType="com.bookGap.vo.BoardVO"> 
		SELECT BOARD_NO          AS boardNo, 
					 BOARD_TITLE       AS boardTitle, 
					 BOARD_CONTENT     AS boardContent, 
					 BOARD_TYPE        AS boardType, 
					 BOARD_RDATE       AS boardRdate, 
					 DATE_FORMAT(BOARD_RDATE, '%Y.%m.%d %H:%i') AS formattedBoardRdate, 
					 u.USER_ID         AS userId,
					 (SELECT COUNT(*) FROM ECOMMENT e WHERE e.BOARD_NO = b.BOARD_NO AND e.ECOMMENT_STATE = 1) AS eCommentCount,
					 bk.BOOK_NO        AS bookNo,
					 p.IMAGE           AS bookImgUrl,
					 p.TITLE           AS bookTitle,
					 p.AUTHOR          AS bookAuthor
			FROM BOARD b 
			JOIN USER u ON b.USER_ID = u.USER_ID 
			LEFT JOIN BOOK bk ON b.BOOK_NO = bk.BOOK_NO
	    LEFT JOIN PRODUCT_API p ON bk.isbn = p.isbn
		 WHERE b.BOARD_NO = #{boardNo}
	</select>
			
	<update id="updateHit" parameterType="int">
    UPDATE BOARD
    	 SET BOARD_HIT = BOARD_HIT + 1
     WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- modifyOk mapper  -->
	<update id="update" parameterType="com.bookGap.vo.BoardVO">
  	UPDATE BOARD
       SET BOARD_TITLE = #{boardTitle},
           BOARD_CONTENT = #{boardContent}
     WHERE BOARD_NO = #{boardNo}
  </update>
  
  <!--  delete mapper  -->
	<update id="changeState" parameterType="int">
		UPDATE BOARD
		   SET BOARD_STATE = '2'
		 WHERE BOARD_NO = #{boardNo}
	</update>

<!--  qna list mapper  -->
	<select id="qnaList" parameterType="com.bookGap.vo.SearchVO" resultType="com.bookGap.vo.BoardVO" flushCache="true">
    SELECT BOARD_NO      AS boardNo,  
		       (SELECT COUNT(*) FROM QCOMMENT q WHERE q.BOARD_NO = b.BOARD_NO AND q.QCOMMENT_STATE = 1) AS qCommentCount,
		       BOARD_TYPE    AS boardType,  
					 BOARD_TITLE   AS boardTitle,  
		       BOARD_CONTENT AS boardContent,  
		       BOARD_RDATE   AS boardRdate,  
		       DATE_FORMAT(BOARD_RDATE, '%Y.%m.%d %H:%i') AS formattedBoardRdate,  
		       u.USER_ID     AS userId
		  FROM BOARD b  
		  JOIN USER u ON b.USER_ID = u.USER_ID  
	   WHERE b.BOARD_STATE = 1  
		   AND b.BOARD_TYPE = 2  
		<if test="searchType != null and searchType.equalsIgnoreCase('board_title')">  
		   AND b.BOARD_TITLE LIKE CONCAT('%', #{searchValue}, '%')  
		</if>  
		 ORDER BY BOARD_NO DESC  
		 LIMIT #{start}, #{perPage}  
	</select>
	
	<!--  EVENT list mapper  -->
	<select id="eventList" parameterType="com.bookGap.vo.SearchVO" resultType="com.bookGap.vo.BoardVO">
		SELECT BOARD_NO AS boardNo,
					 (SELECT COUNT(*) FROM ECOMMENT e WHERE e.BOARD_NO = b.BOARD_NO AND e.ECOMMENT_STATE = 1) AS eCommentCount,
					 BOARD_TYPE AS boardType, 
					 BOARD_TITLE AS boardTitle, 
					 BOARD_CONTENT AS boardContent, 
					 BOARD_HIT AS boardHit, 
					 BOARD_STATE AS boardState, 
					 BOARD_RDATE   AS boardRdate,  
		       DATE_FORMAT(BOARD_RDATE, '%Y.%m.%d %H:%i') AS formattedBoardRdate,  
					 u.USER_ID AS userId 
			FROM BOARD b  
		  JOIN USER u ON b.USER_ID = u.USER_ID 
		 WHERE b.BOARD_STATE = 1  
		   AND b.BOARD_TYPE = 3  
		<if test="searchType != null and searchType.equalsIgnoreCase('board_title')">  
		   AND b.BOARD_TITLE LIKE CONCAT('%', #{searchValue}, '%')  
		</if>  
		 ORDER BY BOARD_NO DESC  
		 LIMIT #{start}, #{perPage} 
	</select>
</mapper>