<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.commentRatingMapper"> 
	<!-- 별점 저장 -->
  <insert id="insertRating" parameterType="com.bookGap.vo.CommentRatingVO">
    INSERT INTO COMMENT_RATING (COMMENT_NO,
    														USER_ID,
    														RATING,
    														isbn)
    										VALUES (#{commentNo},
    														#{userId},
    														#{rating},
    														#{isbn})
  </insert>

  <!-- 별점 수정 -->
  <update id="updateRating" parameterType="com.bookGap.vo.CommentRatingVO">
    UPDATE COMMENT_RATING
    			 SET RATING = #{rating}
     WHERE COMMENT_NO = #{commentNo} 
       AND USER_ID = #{userId} 
  </update>
  
  <!-- 별점 없으면 새로업데이트 -->
  <insert id="upsertRating" parameterType="com.bookGap.vo.CommentRatingVO">
    INSERT INTO COMMENT_RATING (COMMENT_NO,
    														USER_ID,
    														RATING,
    														isbn)
    									VALUES (#{commentNo},
    													#{userId},
    													#{rating},
    													#{isbn})
    ON DUPLICATE KEY UPDATE RATING = VALUES(RATING)
  </insert>

	<!--  별정정보조회  -->
  <select id="selectUserRating" parameterType="map" resultType="com.bookGap.vo.CommentRatingVO">
	  SELECT RATING_NO   AS ratingNo,
	         COMMENT_NO  AS commentNo,
	         USER_ID     AS userId,
	         RATING      AS rating,
	         isbn        AS isbn
	    FROM COMMENT_RATING
	   WHERE COMMENT_NO = #{commentNo}
	     AND isbn = #{isbn}
	     AND USER_ID = #{userId}
	</select>
</mapper>