<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.orderMapper">
  <!-- 상품 정보 조회 --> 
	<select id="findBookByIsbn" parameterType="string" resultType="com.bookGap.vo.BookVO">
		SELECT pa.title,     -- 상품명
			     pa.image,     -- 대표 이미지
			     pa.discount,  -- 할인가 (실제 판매 가격)
				   b.BOOK_NO                AS bookNo,
				   b.BOOK_RDATE             AS bookRdate,
				   b.BOOK_TRANS             AS bookTrans,
				   b.BOOK_STOCK             AS bookStock,
				   b.BOOK_STATE             AS bookState,
				   b.BOOK_CATEGORY          AS bookCategory,
				   b.isbn,
				   b.BOOK_IMGURL            AS bookImgUrl,
				   b.BOOK_INDEX             AS bookIndex,
				   b.PUBLISHER_BOOK_REVIEW  AS publisherBookReview,
   (SELECT COUNT(*) FROM COMMENT c WHERE c.isbn = b.isbn) AS commentCount
			FROM BOOK b
			JOIN PRODUCT_API pa 
			  ON b.isbn = pa.isbn
		 WHERE b.isbn = #{isbn}
	</select>
	
	<!-- 사용자의 기본 배송지 정보 조회 --> 
	<select id="findDefaultAddressByUserId" parameterType="string" resultType="com.bookGap.vo.UserAddressVO">
		SELECT ua.USER_ADDRESS_ID   AS userAddressId,
				   ua.ADDRESS_NAME      AS addressName,
				   ua.POST_CODE         AS postCode,
				   ua.ROAD_ADDRESS      AS roadAddress,
				   ua.DETAIL_ADDRESS    AS detailAddress,
				   ua.IS_DEFAULT        AS isDefault,
				   ua.USER_ID           AS userId,
				   u.USER_NAME          AS userName,
				   u.USER_PHONE         AS userPhone
			FROM USER_ADDRESS ua
			JOIN USER u 
				ON ua.USER_ID = u.USER_ID
		 WHERE ua.USER_ID = #{userId}
			 AND ua.IS_DEFAULT = 1
	</select>
	
	<!-- 사용자의 모든 주소 목록을 조회하는 쿼리 -->
	<select id="findAddressListByUserId" parameterType="string" resultType="com.bookGap.vo.UserAddressVO">
		SELECT ua.USER_ADDRESS_ID   AS userAddressId,
				   ua.ADDRESS_NAME      AS addressName,
				   ua.POST_CODE         AS postCode,
				   ua.ROAD_ADDRESS      AS roadAddress,
				   ua.DETAIL_ADDRESS    AS detailAddress,
				   ua.IS_DEFAULT        AS isDefault,
				   ua.USER_ID           AS userId,
				   u.USER_NAME          AS userName,
				   u.USER_PHONE         AS userPhone
		  FROM USER_ADDRESS ua
		  JOIN USER u 
				ON ua.USER_ID = u.USER_ID
		 WHERE ua.USER_ID = #{userId}
	ORDER BY ua.IS_DEFAULT DESC, ua.USER_ADDRESS_ID ASC
	</select>
	
	<insert id="addAddress" parameterType="com.bookGap.vo.UserAddressVO">
    INSERT INTO USER_ADDRESS (
        USER_ID, 
        ADDRESS_NAME, 
        USER_NAME,
        USER_PHONE,
        POST_CODE, 
        ROAD_ADDRESS, 
        DETAIL_ADDRESS,
        IS_DEFAULT
    ) VALUES (
        #{userId}, 
        #{addressName}, 
        #{userName},
        #{userPhone},
        #{postCode}, 
        #{roadAddress}, 
        #{detailAddress},
        0
    )
	</insert>
	
	<delete id="deleteAddress" parameterType="int">
	   DELETE FROM USER_ADDRESS 
	   WHERE USER_ADDRESS_ID = #{userAddressId}
  </delete>
</mapper>