<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.qCommentMapper"> 
	<select id="clist" parameterType="com.bookGap.vo.SearchVO" resultType="com.bookGap.vo.QCommentVO">
	  SELECT QCOMMENT_NO      AS qCommentNo,  
	         QCOMMENT_CONTENT AS qCommentContent,  
	         QCOMMENT_STATE   AS qCommentState,  
	         QCOMMENT_RDATE   AS qCommentRdate,  
	         DATE_FORMAT(QCOMMENT_RDATE, '%Y.%m.%d') AS formattedQCommentRdate,  
	         u.USER_ID       AS userId,  
	         BOARD_NO        AS boardNo  
	    FROM QCOMMENT q  
	   INNER JOIN USER u ON q.USER_ID = u.USER_ID  
	   WHERE q.QCOMMENT_STATE != 2
	     AND BOARD_NO = #{boardNo}  
	   ORDER BY QCOMMENT_NO DESC  
	   LIMIT #{start}, #{perPage}
	</select>
	
	<select id="selectTotal" parameterType="com.bookGap.vo.SearchVO" resultType="int">
		SELECT COUNT(*) as total
		  FROM QCOMMENT q  
     INNER JOIN USER u ON q.USER_ID = u.USER_ID  
       AND q.QCOMMENT_STATE != 2  
		   AND BOARD_NO = #{boardNo} 
	</select>
	
	<insert id="insert" parameterType="com.bookGap.vo.QCommentVO">
    INSERT INTO QCOMMENT (QCOMMENT_CONTENT,  
                          USER_ID,  
                          BOARD_NO,  
                          QCOMMENT_RDATE)  
    VALUES (#{qCommentContent},  
            #{userId},  
            #{boardNo},  
            NOW());
	</insert>

	<select id="selectOne" parameterType="int" resultType="com.bookGap.vo.QCommentVO">
	  SELECT QCOMMENT_NO      AS qCommentNo,  
	         QCOMMENT_CONTENT AS qCommentContent,  
	         QCOMMENT_STATE   AS qCommentState,  
	         QCOMMENT_RDATE   AS qCommentRdate,  
	         DATE_FORMAT(QCOMMENT_RDATE, '%Y.%m.%d') AS formattedQCommentRdate,   
           u.USER_ID       AS userId,  
           BOARD_NO        AS boardNo  
      FROM QCOMMENT q    
      JOIN USER u ON q.USER_ID = u.USER_ID 
     WHERE q.QCOMMENT_NO = #{qCommentNo}
	</select>
	
  <update id="update" parameterType="com.bookGap.vo.QCommentVO">
    UPDATE QCOMMENT
			 SET QCOMMENT_CONTENT = #{qCommentContent} 
     WHERE QCOMMENT_NO = #{qCommentNo}
  </update>
	
	<update id="changeState" parameterType="int">
		UPDATE QCOMMENT
		   SET QCOMMENT_STATE = '2'
		 WHERE QCOMMENT_NO = #{qCommentNo}
	</update>
</mapper>