@charset "UTF-8";
section {
	width: 100%;
	margin: 5% auto;
	height: auto;
}
/* eventList */
#eventMain{
	width: 90%;
	height: 70%;
	margin-left: 5%;
  margin-right: 5%;
}
#event{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 30px;
  text-align: center;
}
#eventList{
	width: 100%;
  height: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
#eventTable{
	width: 70%;
  font-size: 20px;
  border: 1px none black;
  border-collapse: separate;
  border-spacing: 0 30px;
}
#eventTable td{
  text-align: center;
  width: 250px;
}
#eventTable td a{
  text-decoration: none;
  color: black;
  }
.line{
  padding-bottom: 1%;
  border-bottom:2px solid black;
}
#write{
  width: 5%;
  border: 4px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 75%;
  padding: 0.2%;
}
#eventSearchFormDiv{
  width: 100%;
}
#eventSearchForm{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#eventSearchListForm{
	width: 30%;
	margin-bottom: 2%;
	text-align: center;	
}
#eventSearchInput{
  width: 35%;
  padding: 2%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
}
#eventSearchButton{
  width: 10%;
  padding: 0.8%;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
/* eventWrite, eventModify */
#eventWrite{
	width: 100%;
	height: 50%;
  display:flex;
	justify-content: space-evenly;
	align-items: center;
}
#eventWriteTable{
  width: 70%;
  border-collapse: separate;
  border-spacing: 30px 30px;
}
#eventWriteTitleTable{
	display: flex;
	justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 0.7%;
}
#title{
  font-size: 25px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#titleMemo{
  border: 1px solid black;
  border-radius: 24px;
  width: 75%;
  padding: 1.5% 1.5% 1.5% 2%;
  font-size: 18px;
  margin-left: 1%;
}
#eventWriteContentTable{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
#content{
  font-size: 25px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#contentMemo{
	border: 1px solid black;
  border-radius: 24px;
  overflow: hidden;
  margin-left: 1%;
  width: 74.5%;
  height: 300px;
  font-size: 18px;
  padding: 2%;
  line-height: 1.5;
  resize: none;
}
#eventButtonDiv{
	width: 100%;
	display: flex;
	magin-top : 3%;
}
#eventWriteButton{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 6%;
  padding: 0.4%;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 62%;
}
#eventModifyButton{
  width: 6%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 62%;
  cursor: pointer;
  padding: 0.25% 0.1% 0.35% 0.1%;
}
#resetButton{
  width: 6%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.25% 0.1% 0.35% 0.1%;
}
/* eventView*/
#navEvent{
	width: 100%;
	height: auto;
}
#eventMid{
	width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#eventViewTable{
	padding: 2% 1% 2% 1%;
  width: 70%;
  height: auto;
  border-collapse: separate; /* 셀 간 간격 유지 */
	border-spacing: 0; /* 셀 간 간격 설정 */
	border: 2px solid black; /* 테이블 외곽 테두리 */
  border-radius: 20px;
  overflow: hidden;
}
#titleViewDiv{
	width: 100%;
  padding: 1%;
}
#titleView{
  font-size: 23px;
  margin-left: 2%;
}
#writeRrdateViewDiv{
	width: 100%;
  margin: 2%;
}
#writerView{
  position: relative;
  font-size: 20px;
  padding-left: 2%;
}
#writerView::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 1270px;
  height: 1px;
  background-color: black;
}
#rdateView{
  position: relative;
	font-size: 20px;
  margin-left: 60%;
}
#contentViewDiv{
	display: flex;
}
#contentView{
	white-space: pre-line;
	font-size: 18px;
	padding : 3%
}
#eventViewBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 53%;
  margin-top: 1.5%;
}
#modifyView{
  width: 110px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}
#deleteView{
  width: 110px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}
#listView{
  width: 110px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}
#eventEnd{
  width: 100%;
  height: 30%;
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
#eventComments{
  width: 100%;
  margin-left: 13%;
  margin-right: 13%;
}
#commentLayout{
  width: 100%;
  border-bottom: solid 2px;
  border-color: #D3D3D3;
  margin-bottom: 2%;
}
#eventCommentTitle{
  width: 4%;
  border-bottom: solid 5px;
  border-color: black;
  font-size: 25px;
  font-family: Arial, sans-serif;    
}
#reviewView{
  width: 100%;
  height: auto;
  border-radius: 20px;
  border:  1px solid black;
  margin-bottom: 5%;
}
#eventComment h2{
  margin-left: 2.5%;
}
#eventCommentContentBox{
  width: 100%;
}
#eventCommentContent{
  width: 90%;
  height: 100px;
  resize: none;
  font-size: 15px;
  margin-left: 2.7%;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 2%;
}
textarea.eventCommentContent{
  width: 90%;
  height: 100px;
  resize: none;
  font-size: 15px;
  margin-left: 2.7%;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 2%;	
}
#eventCommentButtonBox{
  text-align: right;
  margin-right: 3.2%;
}
#eventCommentButton{
  width: 80px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px;
}
.eventBox{
  width: 91%;
  height: 150px;
  border-radius: 10px;
  border: solid 1px black;
  padding: 15px 10px 10px 10px;
  margin-top: 30px;
  margin-bottom: 5%;
  margin-left: 2.8%;
}
.eventIdBox{
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 0%;
  font-size: 17px;
  color: gray;
  display: flex;
}
.eventId{
  margin-right: 1%;
  font-size: 17px;
  color: gray;
}
.eventRdate{
  margin-right: 1%;
  font-size: 17px;
  color: gray;
}
.eventContainer{
  margin-top: 8px;
  resize: none;
  width: 98%;
  height: 130px;
  border: none;
  margin-bottom: 2%;
}
.eventContentArea{
  resize: none;
  width: 100%;
  height: 60px;
  font-size: 15px;
  border: none;
  margin-bottom: 2%;
  margin-left: 1%;
}
.eventOptions{
  position: relative;
  display: flex;
  margin-left: 96%;
  align-items: flex-start;
  cursor: pointer;
}
#eventOptionsToggle{
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-left: 5%;
}
.eventOptionsMenu{
  display: none;
  position: absolute;
  top: 25px;
  right: 0px; /* 왼쪽 말고 오른쪽 기준으로 위치 잡기 */
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 8px;
  padding: 5px;
  z-index: 999;
  min-width: 60px;
}
.eventOptionsMenu button {
  display: block;
  width: 80px;
  padding: 10px;
  border: none;
  background-color: black;
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
.eventOptionsMenu button:hover {
  background-color: black;
  color: white;
}
.eventOptionModifyForm{
  margin-top: 20%;
  margin-bottom: 10%;
}
.eventEditButtons{
  width: 100%;
  display: flex; 
  margin-top: 3%;
  margin-left: 81%;
}
#cModify{
  display: block;
  width: 80px;
  padding: 10px;
  border: none;
  background-color: black;
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
#cModify:hover{
  background-color: black;
  color: white;
}
#cDelete{
  display: block;
  width: 80px;
  padding: 10px;
  border: none;
  background-color: black;
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}
#cDelete:hover{
  background-color: black;
  color: white;
}
.save-btn{
	width: 90px;
	height: 35px;
	border: none;
	background-color: black;
	border-radius: 8px;
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	margin: 1%;
}
.cancel-btn{
	width: 90px;
	height: 35px;
	border: none;
	background-color: black;
	border-radius: 8px;
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	margin: 1%;
}
/* paging 영역 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 0%;
}
.pagination a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  padding: 8px 15px;
  margin: 0 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  transition: all 0.3s;
}
.pagination a.active {
  background: #E2E2E2;
  color: white;
}
.pagination a:hover {
  background: #E2E2E2;
}