@charset "UTF-8"; 
section {
	width: 100%;
	margin: 4% auto;
	height: auto;
}
/* noticeList */
#noticeMain{
	width: 90%;
	height: 70%;
	margin-left: 5%;
  margin-right: 5%;
}
#notice{
  margin-bottom: 1.5%;
  font-size: 28px;
  text-align: center;
}
#noticeList{
	width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
#noticeTable{
	width: 70%;
  font-size: 20px;
  border: 1px none black;
  border-collapse: separate;
  border-spacing: 0 30px;
}
td{
  text-align: center;
  width: 250px;
}
td a{
  text-decoration: none;
  color: black;
}
.line{
  padding-bottom: 1%;
  border-bottom:2px solid black;
}
#writeButton{
  width: 6%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 75%;
  text-align: center;
  padding: 0.4%;
}
#noticeSearchFormDiv{
  width: 100%;
}
#noticeSearchForm{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#noticeSearchListForm{
	width: 30%;
	margin-bottom: 2%;
	text-align: center;
}
#noticeSearchInput{
  width: 35%;
  padding: 2%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
}
#noticeSearchButton{
  width: 10%;
  padding: 0.8%;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/* noticeWrite */
#noticeWrite{
	width: 100%;
  display:flex;
	justify-content: space-evenly;
	align-items: center;
}
#noticeWriteTable{
  width: 70%;
  border-collapse: separate;
  border-spacing: 30px 30px;
}
#noticeWriteTableTitle{
	display: flex;
	justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 0.3%;
}
#title{
  font-size: 20px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#titleMemo{
  border: 1px solid black;
  border-radius: 24px;
  width: 75%;
  height: 10px;
  padding: 1.5% 1.5% 1.5% 2%;
  font-size: 16px;
  margin-left: 1%;
}
#noticeWriteTableContent{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
#content{
  font-size: 20px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#contentMemo{
	border: 1px solid black;
  border-radius: 24px;
  overflow: hidden;
  margin-left: 1%;
  width: 74.5%;
  height: 280px;
  font-size: 16px;
  padding: 2%;
  line-height: 1.5;
  resize: none;
}
#noticeWriteButton{
	padding-top: 2.4%;
}
#write{
  width: 6%;
  border: 4px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.2%;
  margin-left: 67%;
}
#reset{
  width: 6%;
  border: 4px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.2%;
  margin-bottom: 2%;
}

/* noticeModify */
#modify{
  width: 6%;
  border: 4px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.2%;
  margin-left: 67%;
}

/* noticeView */
#navNotice{
	width: 100%;
	height: auto;
}
#noticeMid{
	width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#noticeViewTable{
	padding: 2% 1% 2% 1%;
  width: 70%;
  height: auto;
  border-collapse: separate; /* 셀 간 간격 유지 */
	border-spacing: 0; /* 셀 간 간격 설정 */
	border: 2px solid black; /* 테이블 외곽 테두리 */
  border-radius: 20px;
  overflow: hidden;
}
#noticeViewTitleDiv{
	width: 100%;
  padding: 1%;
}
#noticeViewTitle{
  font-size: 23px;
  margin-left: 2%;
}
#noticeViewWriterRdateDiv{
	width: 100%;
  margin: 2%;
}
#noticeViewWriter{
  position: relative;
  font-size: 20px;
  padding-left: 2%;
}
#noticeViewWriter::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 1140px;
  height: 1px;
  background-color: black;
}
#noticeViewRdate{
  position: relative;
	font-size: 20px;
  margin-left: 60%;
}
#noticeViewContentDiv{
	display: flex;
}
#noticeViewContent{
	white-space: pre-line;
	font-size: 18px;
	padding : 3%
}
#noticeViewBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 50%;
  margin-top: 1.5%;
}
#noticeViewwriteForm{
	display: inline-flex;
}
#noticeViewwrite{
	width: 12%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  padding: 1%;
  align-items: stretch;
  justify-content: center;
}
#noticeViewmodify{
	width: 12%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  padding: 1%;
  align-items: stretch;
  justify-content: center;
}
#noticeViewlist{
	width: 12%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  padding: 1%;
  align-items: stretch;
  justify-content: center;
}
/* paging 영역 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 0%;
}
.pagination a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  padding: 8px 15px;
  margin: 0 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  transition: all 0.3s;
}
.pagination a.active {
  background: #E2E2E2;
  color: white;
}
.pagination a:hover {
  background: #E2E2E2;
}
