@charset "UTF-8"; 

/* noticeList */
#noticeMain{
	width: 100%;
	height: 70%;
}
#notice{
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	font-size: 25px;
}
#noticeList{
	width: 100%;
  height: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
#noticeTable{
  font-size: medium;
  border: 1px none black;
  border-collapse: separate;
 border-spacing: 0 20px;
}
td{
  text-align: center;
  width: 250px;
}
td a{
  text-decoration: none;
  color: black;
}
#line{
  padding-bottom: 1%;
  border-bottom:2px solid black;
}
#writeButton{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 0.4%;
  width: 7%;
  border-radius: 8px;
  margin-top: 1%;
  margin-left: 70%;
  cursor: pointer;
}
#noticeSearchFormDiv{
  width: 100%;
}
#noticeSearchForm{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-left: -17%;
	align-items: center;
}
#noticeSearchInput{
  width: 70%;
  padding: 2%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
}
#noticeSearchButton{
  width: 22%;
  padding: 1.5%;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* noticeWrite */
#noticeWrite{
	width: 100%;
	height: 50%;
  display:flex;
	justify-content: space-evenly;
	align-items: center;
}
#noticeWriteTable{
  width: 50%;
  border-collapse: separate;
  border-spacing: 30px 30px;
}
#noticeWriteTableTitle{
	display: flex;
	justify-content: center;
  width: 100%;
}
#title{
  font-size: 18px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#titleMemo{
  border: 1px solid black;
  border-radius: 16px;
  width: 75%;
  padding: 1% 1% 1% 1%;
  font-size: 15px;
  margin-left: 2%;
}
#noticeWriteTableContent{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
#content{
  font-size: 18px;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}
#contentMemo{
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 2%;
  width: 75%;
  height: 200px;
  font-size: 13px;
  padding: 1% 1% 1% 1%;
  line-height: 1.5;
}
#write{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  width: 6%;
  padding: 0.4%;
  border-radius: 8px;
  margin-left: 58%;
  cursor: pointer;
}
#reset{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  width: 6%;
  padding: 0.4%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 2%;
}

/* noticeView */
#navNotice{
	width: 100%;
	height: 100%;
}
#noticeHead{
  width: 100%;
  height: 20%;
}
#notice{
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	font-size: 25px;
}
#noticeMid{
	width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#noticeViewTable{
	padding: 2% 1% 2% 1%;
  width: 50%;
  border-collapse: separate; /* 셀 간 간격 유지 */
	border-spacing: 0; /* 셀 간 간격 설정 */
	border: 2px solid black; /* 테이블 외곽 테두리 */
  border-radius: 20px;
  overflow: hidden;
}
#noticeViewTitleDiv{
	width: 100%;
  padding: 1%;
}
#noticeViewTitle{
  font-size: 20px;
  margin-left: 2%;
}
#noticeViewWriterRdateDiv{
	width: 100%;
  margin: 2%;
}
#noticeViewWriter{
  position: relative;
  font-size: 18px;
  padding-left: 2%;
}
#noticeViewWriter::after{
	content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 1050%;
  height: 1px;
  background-color: black;

}
#noticeViewRdate{
  position: relative;
  font-size: 18px;
  margin-left: 50%;
}
#noticeViewContentDiv{
	display: flex;
}
#noticeViewContent{
	white-space: pre-line;
	padding : 2%
}
#noticeViewBtn{
  width: 100%;
}
#noticeViewwriteForm{
	display: none;
}
#noticeViewwriteFormInput{
	display: none;
}
#noticeViewwrite{
  padding: 0.3%;
  width: 5.5%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  border-radius: 8px;
  margin-left: 50%;
  cursor: pointer;
}
#noticeViewmodify{
  padding: 0.3%;
  width: 5.5%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
#noticeViewlist{
  padding: 0.3%;
  width: 5.5%;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 2%;
  cursor: pointer;
}

/* noticeModify */
#modify{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  width: 6%;
  padding: 0.4%;
  border-radius: 8px;
  margin-left: 58%;
  cursor: pointer;
}

/* paging 영역 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 0%;
}
.pagination a {
  text-decoration: none;
  color: #222222;
  font-size: 16px;
  padding: 8px 15px;
  margin: 0 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  transition: all 0.3s;
}
.pagination a.active {
  background: #E2E2E2;
  color: white;
}
.pagination a:hover {
  background: #E2E2E2;

}
