@charset "UTF-8";

#navJoin{
	width: 100%;
	height: 70%;
}
#joinHead{
	width: 100%;
	height: 20%;
}
#join{
	margin-top: 3%;
	margin-bottom: 2.5%;
	text-align: center;
	font-size: 25px;
}
#joinMid{
	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#joinDiv{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
#title, #titlePost, #titleAddress{
  margin-right: 0.5%;
  display: flex;
  width: 8%;
  align-items: center;
  justify-content: center;
}
#userId, #userEmail, #userName, #userPw, #userPwCheck, #userPhone, #userAddressCode{
	margin: 1%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
 #userAddress{
	margin: 1%;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
#userIdInput, #userEmailInput, #userNameInput, #userPwInput, #userPwCheckInput, #userPhoneInput{
	padding: 0.5%;
	width: 20%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	color: black;
	font-size: 15px;
}
#userAddressCodeDiv{
	width: 20%;
	display: flex;
	margin: 1%;
}
#userAddressDiv{
	width: 20%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#userAddressCodeInput{
	width: 70%;
	padding: 1%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	color: black;
	font-size: 15px;
}
#userAddressCodeButton{
	width: 25%;
	padding: 1.5%;
	margin-left: 5%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: black;
	color: white;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
}
#userAddress1Input, #userAddress2Input{
	width: 100%;
	padding: 2.5%;
	border: 1px solid black;
	border-radius: 8px;
}
#joinEnd{
	width: 60%;
	height: 30%;
	margin-left: 20%;
	margin-top: 1.5%;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
}
#btnDiv{
	display: flex;
	justify-content: space-evenly;
}
#JoinBtn{
	padding: 10px;
	width: 120px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
}
#JoinCancelBtn{
	padding: 10px;
	width: 80px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
}