<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- vo 별칭 지정 -->
	<typeAliases>
		<!-- 별칭 지정시 반드시 클래스부터 선언 후 별칭 지정! -->
		<typeAlias type="com.bookGap.vo.ProductApiVO" alias="ProductApiVO"/>
		<typeAlias type="com.bookGap.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.bookGap.vo.UserInfoVO" alias="UserInfoVO"/>
		<typeAlias type="com.bookGap.vo.MypageVO" alias="MypageVO"/>
		<typeAlias type="com.bookGap.vo.SearchVO" alias="SearchVO"/>
		<typeAlias type="com.bookGap.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.bookGap.vo.QCommentVO" alias="QCommentVO"/>
		<typeAlias type="com.bookGap.vo.ECommentVO" alias="ECommentVO"/>
		<typeAlias type="com.bookGap.vo.CommentVO" alias="CommentVO"/>
		<typeAlias type="com.bookGap.vo.CommentRatingVO" alias="CommentRatingVO"/>
		<typeAlias type="com.bookGap.vo.CommentLoveVO" alias="CommentLoveVO"/>
		<typeAlias type="com.bookGap.vo.UserAddressVO" alias="UserAddressVO"/>
		<typeAlias type="com.bookGap.vo.TossRequestVO" alias="TossRequestVO"/>
		<typeAlias type="com.bookGap.vo.TossCancelVO" alias="TossCancelVO"/>
		<typeAlias type="com.bookGap.vo.KakaoPayRequestVO" alias="KakaoPayRequestVO"/>
		<typeAlias type="com.bookGap.vo.KakaoPayCancelVO" alias="KakaoPayCancelVO"/>
		<typeAlias type="com.bookGap.vo.PaymentVO" alias="PaymentVO"/>
		<typeAlias type="com.bookGap.vo.OrderVO" alias="OrderVO"/>
		<typeAlias type="com.bookGap.vo.OrderDetailVO" alias="OrderDetailVO"/>
		<typeAlias type="com.bookGap.vo.CartVO" alias="CartVO"/>
	</typeAliases>

</configuration>


